@media (min-width: 1950px) {
  .productlist-breadcrumbs,
  .product-sidebar-outer {
    max-width: 415px;
  }

  .productlist-top-right,
  .main-product-list {
    max-width: calc(100% - 450px);
  }
}

@media (min-width: 1025px) {
  .dropdown-item:hover .dropdown-list {
    transform: translateY(10px);
    visibility: visible;
  }
}

@media (max-width: 1920px) {
  .productlist-breadcrumbs,
  .product-sidebar-outer {
    max-width: 415px;
  }

  .productlist-top-right,
  .main-product-list {
    max-width: calc(100% - 450px);
    width: 100%;
  }
}

@media (max-width: 1850px) {
  .product-box-link {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .fav-item-info {
    gap: 40px;
  }

  .item-info-left {
    max-width: 600px;
  }
}

@media (min-width: 1280px) {
  .blog-box {
    width: 32%;
  }
}

@media (max-width: 1680px) {
  .container {
    padding: 0 25px;
  }

  .store-right {
    max-width: 550px;
  }

  .logo {
    max-width: 210px;
  }

  header .search-bar input {
    font-size: 20px;
  }

  header nav .nav-links .nav-link {
    font-size: 22px;
  }

  header .search-bar {
    max-width: 630px;
  }

  header .header-bottom .right-col {
    gap: 20px;
  }

  header nav .nav-links {
    gap: 24px;
  }

  .product-slider.theme-slider {
    padding-left: 25px;
  }

  /* #productModal .modal-content {
    height: 80%;
    overflow-y: scroll;
  } */

  .product-item .product-img img {
    width: 75%;
    height: 70%;
  }

  .img-resize .product-item .product-img img {
    width: 90%;
    height: 90%;
  }

  .newfeatured-right {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: calc(100% - 600px);
  }

  .newfeatured-right img {
    width: 100%;
  }

  .newfeatured-row .inner {
    margin: 0 25px;
  }

  .product-deatil-slide-img {
    height: 500px;
  }

  .product-detail-right h3 {
    font-size: 32px;
  }

  .brand-label,
  .product-price,
  .product-detail-box {
    margin-bottom: 40px;
  }

  .product-detail-nav img {
    height: 160px;
  }

  .product-detail-slider {
    margin-bottom: 64px;
  }

  .product-detail-btns button,
  .product-detail-btns .inherit {
    padding-inline: 90px;
  }

  .quote-detail-left {
    width: 100%;
    max-width: 500px;
  }

  .product-slide-nav img {
    height: 120px;
  }

  .item-info-left {
    max-width: 440px;
  }

  .fav-right {
    max-width: 370px;
  }

  .fav-item-img {
    max-width: 250px;
    height: 300px;
  }

  .cart-wrapper {
    gap: 150px;
  }

  .blog-container-right {
    max-width: 360px;
  }

  .tracking-info-date {
    max-width: 340px;
  }

  .shipping-info-row {
    max-width: 360px;
  }
}

@media (max-width: 1439px) {
  .default-heading {
    font-size: 30px;
  }

  .default-text,
  .status-list li {
    font-size: 16px;
  }

  .fav-right {
    max-width: 300px;
  }

  .product-contact-col {
    margin: 20px 0 0 0;
  }

  .product-contact-info:last-child {
    margin-top: 5px;
  }

  .newfeatured-left h2,
  .newfeatured-col h2 {
    font-size: 24px;
  }

  .newfeatured-left p,
  .newfeatured-col p {
    font-size: 18px;
    margin: 20px 0;
  }
}

@media (max-width: 1399px) {
  .modal-content {
    max-width: 1200px;
  }

  .modal-content .product-thumbnail {
    max-width: 400px;
  }

  .modal-content .product-detail {
    width: calc(100% - 450px);
  }

  .reward-wrapper-inner .account-inner-right {
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .product-item h3 {
    font-size: 18px;
  }

  .banner h1,
  .banner .sell h2 {
    font-size: 34px;
  }

  .productlist-grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .signin-modal,
  .register-modal {
    top: 38%;
    height: 75%;
    overflow-y: scroll;
  }

  .product-detail-nav img {
    height: 140px;
  }

  .product-detail-box {
    flex-direction: column;
    gap: 24px;
  }

  .product-pay-inner {
    padding-top: 24px;
  }

  .product-detail-btns button,
  .product-detail-btns .inherit {
    padding-inline: 70px;
  }

  .tracking-info-date {
    max-width: 300px;
  }

  .tracking-info-row {
    gap: 24px;
  }
}

@media (max-width: 1300px) {
  header .right-side .icon-link svg {
    transform: translate(-6px, -6px) scale(0.65);
  }

  .cart-wrapper {
    gap: 100px;
  }

  .fav-product-row .product-item {
    width: 30%;
  }

  .cart-item-wrapper {
    margin-bottom: 75px;
  }

  .fav-product-wrapper {
    padding-block: 32px 0px;
  }

  header .primery-btn {
    padding: 12px;
    font-size: 14px;
  }

  .store-link {
    font-size: 16px;
  }

  .store-link svg {
    width: 26px;
    height: 28px;
  }

  header nav .nav-links {
    gap: 20px;
  }

  header .search-bar {
    max-width: 460px;
    padding: 7px 20px;
    margin-left: 15px;
  }

  header .search-bar input {
    font-size: 16px;
    padding-right: 17%;
  }

  .search-close {
    top: -35px;
  }

  .search-close:after {
    height: 30px;
    top: -5px;
    right: -20px;
  }

  header .search-bar button {
    width: 36px;
    height: 31px;
  }

  header nav .nav-links .nav-link {
    font-size: 18px;
  }

  /* banner style */
  .banner-item {
    max-width: 140px;
  }

  /* .banner-title {
    font-size: 30px;
  }
  .banner-subtitle {
    font-size: 20px;
  } */
  .banner-section .primery-btn {
    padding: 8px 16px;
    font-size: 20px;
  }
}

@media (max-width: 1279px) {
  .tracking-info-row {
    flex-direction: column;
  }

  .tracking-info-date {
    max-width: 100%;
    padding: 13px 24px;
  }

  .tracking-info-box {
    margin-bottom: 24px;
  }

  .blog-box {
    max-width: 48%;
  }

  .fav-item-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-row-mobile,
  .item-info-right {
    display: none;
  }

  .fav-item-view.mobile-hidden,
  .fav-item-mobile button,
  .fav-item-mobile {
    display: flex;
  }

  .fav-item-img {
    height: 230px;
    padding: 5px;
  }

  .heart {
    top: 16px;
    right: 16px;
    padding: 5px 7px;
    font-size: 16px;
  }

  .fav-item-mobile button {
    margin-left: 50px;
  }

  .item-info-left {
    max-width: 100%;
  }

  .productlist-grid-view.productlist-list-view .product-img {
    max-width: 205px;
    height: 205px;
  }

  .productlist-grid-view.productlist-list-view .productlist-detail {
    max-width: calc(100% - 225px);
  }

  .info-accordion-detail {
    max-width: calc(100% - 150px);
  }

  .order-detail-inner {
    gap: 35px;
  }

  .order-detail-right {
    max-width: 350px;
  }
}

@media (max-width: 1200px) {
  .fav-wrapper h2 {
    margin-bottom: 40px;
  }

  .store-wrapper {
    flex-direction: column;
  }

  .store-left,
  .store-right {
    max-width: 100%;
  }

  .cart-btn-row button {
    display: none;
  }

  .primary-btn.mobile-inherit-btn {
    display: block;
  }

  .signin-modal,
  .register-modal {
    top: 42%;
    height: 60%;
  }

  .store-address {
    display: inline-block;
    width: 100%;
    margin: 15px 0 0;
  }

  header nav .nav-links .nav-link {
    font-size: 16px;
  }

  .header .primary-btn {
    font-size: 18px;
  }

  .banner h1,
  .banner .sell h2 {
    font-size: 24px;
  }

  .policy .wrap h3,
  footer h3,
  .blogs article h3 {
    font-size: 18px;
  }

  .productlist-results h4,
  .product-sidebar {
    font-size: 18px;
  }

  .modal-content {
    max-width: 1000px;
  }

  .modal-content .product-thumbnail {
    max-width: 300px;
  }

  .modal-content .product-detail {
    width: calc(100% - 300px);
  }

  .modal-content .product-detail h2 {
    padding-right: 50px;
  }

  .multi-store-filters,
  .multi-store-filters ul {
    flex-wrap: wrap;
  }

  .product-detail-nav img {
    height: 120px;
  }

  .brand-label,
  .product-price,
  .product-detail-box {
    margin-bottom: 24px;
  }

  .quote-detail-info {
    flex-direction: column;
  }

  .chat-widget {
    margin-top: 24px;
    width: 100%;
  }

  .quote-detail-left {
    max-width: 350px;
  }

  .product-deatil-slide-imgs {
    height: 350px;
  }

  .product-slide-nav img {
    height: 88px;
  }

  .chat-widget {
    height: 500px;
  }

  .quote-box-link {
    flex-direction: column;
    align-items: flex-start;
  }

  .checkout-right {
    max-width: 350px;
  }

  .checkout-wrapper {
    gap: 70px;
  }
}

@media (max-width: 1150px) {
  .default-heading {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .karat-rewards-section h2 {
    font-size: 30px;
  }

  .extend-loan-inner {
    flex-direction: column;
  }

  .extend-loan-right {
    max-width: 100%;
  }

  .signin-modal,
  .register-modal {
    top: 45%;
  }

  .modal-content .product-thumbnail img {
    width: 70%;
  }

  .productinfo-opt {
    margin-top: 5px;
  }

  .newfeatured-left {
    width: 380px;
    padding: 0 15px 0 25px;
  }

  .newfeatured-right {
    width: calc(100% - 380px);
  }

  .order-wrapper .account-inner-left {
    max-width: 300px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .order-filter-tab {
    margin-bottom: 24px;
  }

  .order-filter-tab {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    max-width: max-content;
    border: none;
    overflow: scroll;
    padding: 0;
  }

  .order-wrapper .account-inner-right {
    width: 63%;
  }

  button.tablinks.inherit {
    white-space: nowrap;
  }

  .order-detail-inner {
    flex-direction: column;
  }

  .order-detail-right {
    max-width: 100%;
  }

  .product-detail-btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-detail-btns button {
    width: 100%;
  }

  .product-price {
    font-size: 24px;
  }

  .product-box-link {
    flex-direction: row;
  }

  .loan-wrapper-inner .account-inner-left {
    max-width: 350px;
  }

  .loan-nmb {
    font-size: 16px;
  }

  .mobile-loan-col,
  .loan-btn {
    display: none;
  }

  .desk-loan-info,
  .desk-loan-info .loan-btn {
    display: block;
    width: 100%;
  }

  .desk-loan-info {
    margin-bottom: 24px;
  }

  .desk-loan-info .col {
    margin-bottom: 24px;
  }
}

@media (max-width: 1024px) {
  .blog-title-row h2 {
    font-size: 31px !important;
    margin-bottom: 8px !important;
  }
  footer {
    padding-bottom: 110px;
  }

  .blog-text-box h4 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .blog-title-row {
    margin-bottom: 16px;
  }

  .blog-container-right h4 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .fav-product-row .product-item {
    width: 43%;
  }

  .success-toast {
    width: 100%;
    right: 0;
    padding: 0 10px;
    border-radius: 0;
    bottom: 76px;
  }

  .product-info-box.active .toggle-header img {
    rotate: 180deg;
  }

  .toggle-header img {
    transition: all 0.3s;
  }

  .minicart-info-left p {
    font-size: 16px;
  }

  .minicart-item-img img {
    width: 116px;
    height: 116px;
  }

  .removepopup.minicart-popup {
    max-width: 400px;
  }

  .minicart-total-detail button {
    max-width: 100%;
  }

  .footer-fix-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 9999;
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  .footer-fix-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding-block: 16px 20px;
    padding-inline: 16px 0px;
  }

  .footer-fix-bar ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .footer-fix-bar ul li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-fix-bar ul li a img {
    max-height: 20px;
  }
  .footer-fix-bar ul li span {
    color: #474747;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 5px 0 0 0;
  }

  .header {
    padding-bottom: 20px;
  }

  header .container {
    flex-wrap: wrap;
  }

  header .search-bar,
  header .header-bottom {
    display: none;
  }

  header .search-bar.mobile-view {
    display: flex;
    max-width: initial;
    height: 52px;
    margin-top: 14px;
    margin-left: 0;
  }

  .nav-icon {
    display: none !important;
  }

  header .search-bar button {
    width: 37px;
    height: 36px;
  }

  header .header-bottom {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #e2363d;
    z-index: 99;
    margin: 0;
  }

  header .header-bottom.show {
    display: block;
  }

  .nav-links.f-center {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 100px 0 50px 0;
  }

  .nav-links li {
    width: 100%;
  }

  header nav .nav-links .nav-link {
    color: #fff;
  }

  .dropdown-list {
    width: 100%;
  }

  header .header-bottom .right-col {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .store-link {
    color: white;
  }

  .store-link svg {
    fill: white;
  }

  .nav-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 170px;
    z-index: 999;
    cursor: pointer;
  }

  .nav-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
  }

  .nav-icon span:before,
  .nav-icon span:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #000;
  }

  .nav-icon.active {
    top: 40px;
    position: fixed;
  }

  .banner {
    padding: 20px 0;
  }

  .nav-icon.active span {
    background-color: transparent;
  }

  .nav-icon span:after {
    bottom: 16px;
  }

  .nav-icon.active span:before {
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
  }

  .nav-icon.active span:after {
    top: 0;
    transform: rotate(135deg);
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .dropdown-item::after {
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }

  .dropdown-item::after {
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    margin-top: 5px;
  }

  .policy {
    flex-wrap: wrap;
  }

  .policy .wrap {
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
  }

  footer .inner {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 30px 0 30px;
  }

  footer .menu {
    width: 31%;
  }

  .policy .wrap h3,
  footer h3,
  .blogs article h3 {
    font-size: 16px;
  }

  footer .payments-loans {
    width: 100%;
    align-items: flex-start;
  }

  .blogs article .content {
    padding: 12px;
  }

  .rewards .content {
    max-width: 445px;
  }

  .banner h1,
  .banner .sell h2 {
    font-size: 18px;
  }

  .banner .primary-btn {
    font-size: 16px;
  }

  .productlist-grid-view {
    gap: 15px;
    row-gap: 55px;
  }

  .productlist-grid-view {
    grid-template-columns: repeat(1, 1fr);
  }

  .modal-content {
    max-width: 750px;
  }

  .modal-footer-right {
    margin-top: 20px;
  }

  .newfeatured-col-detail {
    padding: 35px 15px 35px 15px;
  }

  .newfeatured-left h2,
  .newfeatured-col h2 {
    font-size: 25px;
  }

  .newfeatured-left p,
  .newfeatured-col p {
    margin: 20px 0;
  }

  .inner.mobile-slider.popular-search-category {
    padding: 0 15px;
    display: block;
  }

  .inner.mobile-slider.popular-search-category .category h3 {
    width: 100%;
  }

  .inner.mobile-slider.popular-search-category .category .img-wrap {
    width: 200px;
    height: 200px;
    padding: 0;
  }

  .toggle-content {
    display: none;
  }

  .product-info-box.active .toggle-content,
  .toggle-header img,
  .product-location-box {
    display: block;
  }

  .toggle-header {
    cursor: pointer;
    position: relative;
  }

  .product-detail-nav img {
    height: 100px;
  }

  .product-mobile-detail-box {
    display: none;
  }

  .product-detail-wrapper {
    gap: 24px;
  }

  .toggle-header h6 {
    margin: 0;
  }

  .toggle-content {
    margin-top: 16px;
  }

  .product-info-box {
    padding-block: 23.5px;
    border-bottom: 1px solid var(--Light-Gray);
    margin-bottom: 0px !important;
  }

  .product-detail-info h3 {
    display: none;
  }

  .mb-categories-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .mb-categories-dropdown-content {
    display: none;
    padding: 24px;
  }

  .mb-categories-dropdown-content.active {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  .mb-categories-inner {
    overflow: scroll;
    height: 100%;
    padding-bottom: 20px;
  }

  .mb-categories-dropdown-content .mb-categories-header {
    cursor: pointer;
    padding: 6px 0px;
    margin-bottom: 8px;
  }

  .mb-categories-dropdown-content .mb-categories-header h6 {
    margin: 0;
    width: 100%;
    color: var(--Dark-Gray);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .mb-categories-dropdown-content .mb-categories-header h6::after {
    content: "+";
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
    transition: transform 0.3s ease;
  }

  .mb-categories-dropdown-content .mb-categories-header.active h6::after {
    content: "-";
  }

  .mb-categories-dropdown-content .mb-categories-content {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mb-categories-dropdown-content .accordion-header.active .accordion-content {
    display: block;
  }

  .mb-categories-dropdown-content .mb-categories-content li,
  .mb-categories-dropdown-content .mb-categories-content li a {
    padding: 2px 5px;
    display: block;
    color: var(--Dark-Gray);
    font-size: 14px;
    transition: transform 0.3s ease;
  }

  .mb-categories-dropdown-content .mb-categories-content li a:hover {
    color: var(--Primary-Red);
  }
  .mb-categories-dropdown-content .mb-categories-content.open {
    display: block;
  }

  .footer-fix-bar.dropdown-open {
    overflow: visible;
  }
}

@media (max-width: 991px) {
  .order-product-deatil .primary-btn.inherit {
    width: 100%;
    max-width: 100%;
  }

  .order-tracking-container {
    flex-direction: column;
    gap: 0;
  }

  .tracking-info-row {
    margin-bottom: 40px;
  }

  .shipping-info-row {
    max-width: 100%;
  }

  .blog-container {
    flex-direction: column;
    gap: 0px;
  }

  .blog-text-box img {
    margin-bottom: 14px;
    height: 300px;
  }

  .blog-text-box .default-para {
    line-height: 1.2;
  }

  .blog-container-right {
    max-width: 100%;
  }

  .karat-service {
    flex-direction: column;
    gap: 16px;
  }

  .status-card-inner {
    flex-direction: column;
    gap: 24px;
  }

  .karat-service-box {
    padding: 24px 30px;
  }

  .earn-point-box img {
    height: 290px;
  }

  .earn-detail-box {
    padding: 19px 16px 20px;
  }

  .default-heading.inherit {
    margin-bottom: 24px;
  }

  .status-card-box img {
    margin-bottom: 10px;
  }

  .earn-detail-box .default-heading {
    margin-bottom: 8px;
  }

  .karat-faq-accordion {
    gap: 0px;
    flex-direction: column;
  }

  .karat-service-box img {
    width: 45px;
    height: 37px;
  }

  .karat-banner {
    flex-direction: column-reverse;
    margin-bottom: 22px;
  }

  .karat-banner-left {
    max-width: 100%;
    padding: 0px 16px;
  }

  .karat-faq-right {
    max-width: 100%;
    text-align: center;
  }

  .karat-btn {
    justify-self: center;
    margin-block: 22px;
  }

  .fav-item-img {
    height: 200px;
  }

  .checkout-right-inner {
    display: block !important;
  }

  .checkout-right {
    max-width: 100%;
  }

  .checkout-right .buy-now-btn {
    max-width: 100%;
  }

  .cart-section {
    padding-top: 24px;
  }

  .desk-cart-summary,
  .error-summary {
    display: none;
  }

  .mobile-cart-summary {
    display: block;
  }

  .cart-section .fav-top-bar {
    display: none;
  }

  .fav-result-container {
    padding: 40px;
  }

  .fav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .fav-right {
    max-width: 100%;
  }

  .buy-now-btn {
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .info-left-row p {
    font-size: 16px;
  }

  .fav-item-wrapper {
    gap: 24px;
  }

  .fav-wrapper h2 {
    margin-bottom: 24px;
  }

  .fav-item-box {
    border-bottom: none;
  }

  .cart-item-box:not(:last-child) {
    border-bottom: 1px solid var(--Light-Gray) !important;
  }

  .fav-item-view span {
    font-size: 14px;
  }

  .order-detail-right {
    gap: 32px;
  }

  .accordion-item {
    flex-direction: column;
    gap: 24px;
  }

  .item-right img {
    width: 100px;
    height: 100px;
  }

  .loan-wrapper-inner .account-inner-left {
    max-width: 280px;
  }

  .order-deatil-head {
    background: var(--White);
    border-radius: 0;
    border-bottom: 1px solid var(--Light-Gray);
  }

  .order-head-tag {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    margin-bottom: 18px;
    cursor: pointer;
  }

  .order-deatil-contant.active {
    display: block;
  }

  .order-deatil-contant {
    display: none;
  }

  .order-col span {
    display: block;
  }

  .order-col {
    margin-bottom: 18px;
  }

  .rotate {
    rotate: 180deg;
  }

  .order-right-box {
    padding-bottom: 32px;
  }

  .reward-wrapper-inner .account-inner-right {
    width: 100%;
    margin-left: 24px;
  }

  .quote-inner-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .reward-balance-img {
    width: 100px;
    height: 100px;
    padding: 16px 17.5px;
  }

  .reward-balance-price {
    font-size: 48px;
  }

  .reward-balance-price {
    margin-bottom: 24px;
  }

  .reward-balance-inner {
    flex-direction: column;
    text-align: center;
    padding: 24px 16px;
    gap: 24px;
    margin-bottom: 24px;
  }

  .productlist-grid-view.productlist-list-view .productlist-detail {
    max-width: initial;
  }

  .blog-article-title {
    font-size: 20px;
  }

  .blog-article-detail {
    padding: 15px 12px;
  }

  .info-accordion-detail {
    max-width: initial;
    margin: 0 0 30px 0;
  }

  .productlist-top-right {
    justify-content: flex-start;
  }

  /* MY ACCOUNT STYLE CODE */
  .account-inner-left {
    max-width: 260px;
  }

  .tabcontent form .info-box input {
    min-width: 150px;
    line-height: 1.7;
    padding-bottom: 10px;
  }

  .tabcontent form .info-box input::-webkit-input-placeholder {
    white-space: inherit;
    position: relative;
  }

  .input-label {
    display: none;
  }

  .mobile-label {
    display: block;
    margin-block: 8px;
  }

  .tabcontent h6 {
    font-size: 16px;
  }

  .tablinks {
    font-size: 20px;
    line-height: 1.2;
  }

  .tab-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .newfeatured-left,
  .newfeatured-right {
    width: 100%;
  }

  .newfeatured-left {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    padding: 25px 15px;
  }

  .newfeatured-left h2,
  .newfeatured-col h2 {
    font-size: 24px;
  }

  .newfeatured-left p,
  .newfeatured-col p {
    font-size: 14px;
  }

  .newfeatured-row2 .container {
    gap: 30px;
  }

  .input-check input {
    min-width: 18px !important;
  }

  .input-check .note,
  .empty-result-container .note {
    font-size: 14px;
  }

  .empty-result-field img {
    width: 20px;
    height: 20px;
  }

  .fav-result-container img {
    width: 100%;
    height: 100%;
  }

  .empty-result-container {
    gap: 10px;
  }

  .tab-top-row h6 {
    font-size: 25px;
  }

  .tab-top-row {
    flex-direction: row;
    align-items: center;
  }

  .order-wrapper .account-inner-right {
    width: 60%;
  }

  .order-product-deatil {
    flex-direction: column;
    gap: 24px;
  }

  .Orders .empty-result-field img {
    width: 35px;
    height: 35px;
  }

  .quotes-detail-left {
    flex-direction: column;
  }

  .quotes-detail-right {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 100%;
  }

  .quotes-info-left {
    margin-right: 20px;
  }

  .quotes-info-left span {
    font-size: 16px;
  }

  .price {
    margin-bottom: 16px;
  }

  .quotes-detail-right button {
    width: 100%;
  }

  .quotes-detail-right .edit-row {
    display: none;
  }

  .quote-edit-form {
    width: 100%;
    gap: 24px;
  }

  .edit-quote {
    display: block;
  }

  .product-detail-right h3,
  .mobile-product-detail h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .pay-col,
  .pal-col {
    font-size: 16px;
  }

  .product-detail-nav img {
    height: 88px;
  }

  .product-deatil-slide-img {
    height: 400px;
  }

  .karat-secondary-banner {
    flex-direction: column;
    margin-block: 20px;
  }

  .karat-secondary-banner-left {
    padding: 0;
    margin: 0;
  }

  .karat-secondary-banner-right {
    height: 300px;
  }

  .status-point {
    font-size: 16px;
  }

  .status-card-box {
    padding: 27px 16px;
  }

  .karat-faq-accordion h3 {
    margin-bottom: 40px;
  }

  .karat-faq-left {
    margin-bottom: 48px;
  }

  .karat-faq-right .karat-btn {
    flex-direction: row;
    justify-content: end;
  }

  .karat-faq-accordion .faq-question h4 {
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .karat-faq-accordion .main-faq {
    margin-bottom: 27px;
  }

  .status-list li {
    font-size: 16px;
    padding-left: 30px;
  }

  .status-list li:not(:last-child) {
    margin-bottom: 20px;
  }

  .status-list li::after {
    width: 15px;
    height: 22px;
  }

  .karat-rewards-section h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .karat-secondary-banner-left .karat-btn {
    margin-top: 6px;
  }

  .karat-secondary-banner.inherit,
  .karat-row-wrapper {
    flex-direction: column;
    gap: 24px;
  }

  .karat-row-wrapper {
    margin-block: 20px;
  }

  .karat-row-left {
    max-width: 100%;
  }

  .karat-banner-right {
    height: 290px;
  }

  .earn-point-wrapper,
  .karat-service,
  .status-card-wrapper,
  .karat-faq-accordion {
    padding-block: 20px;
  }

  .karat-btn,
  .earn-point-wrapper {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .default-secondary-heading {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .karat-tertiary-row {
    margin-bottom: 40px;
  }

  .karat-text-box h4 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .karat-text-box h6 {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .karat-text-wrapper {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .profile-icon span {
    display: block;
  }

  .pd-banner {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
  .pd-banner span {
    font-size: 12px;
    padding-right: 20px;
  }
  .pd-banner svg {
    width: 18px;
    height: 18px;
  }
  .profile-icon span {
    width: 8px;
    height: 8px;
    right: -2px;
  }
  .cart-counter {
    width: 16px;
    height: 16px;
    font-size: 11px;
  }
  .blog-tab-item {
    flex-direction: row;
    max-width: max-content;
    border: none;
    overflow: scroll;
    padding: 0;
  }

  .blog-box {
    max-width: 100%;
  }

  .tab-row p {
    margin-top: 0;
  }

  .store-locator-inner h3,
  .store-box h4 {
    font-size: 24px;
  }

  .store-locator-inner h3 {
    margin-bottom: 24px;
  }

  .store-locator-inner:not(:last-child) {
    margin-bottom: 40px;
  }

  .store-locter-box {
    padding: 16px;
  }

  .fav-product-wrapper h2,
  .product-wrapper h2,
  .cart-top-tag h5 {
    font-size: 20px;
  }

  .checkout-left h2 {
    margin-bottom: 13px !important;
  }

  .option-para {
    font-size: 16px;
  }

  .fav-product-wrapper h2 {
    margin-bottom: 17px;
  }

  .also-like-wrapper {
    padding-block: 40px 90px;
  }

  .cart-right {
    padding-inline: 17px;
    margin-top: 9px;
  }

  .fav-wrapper h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .custom-select-wrapper {
    width: 120px;
  }

  .cart-item-img img {
    width: 116px;
    height: 116px;
  }

  /* old 768px media query */

  /*my account order */
  .quote-tag-line.quote-mobile {
    display: flex;
  }

  .product-detail-left {
    margin-top: 24px;
  }

  .fav-item-img {
    height: 148px;
    max-width: 148px;
    padding: 0;
  }

  .buy-now-btn {
    max-width: 100%;
  }

  .fav-item-view {
    padding: 8px;
  }

  .fav-item-box {
    gap: 20px;
  }

  .quote-desktop,
  .chat-widget-desktop {
    display: none;
  }

  .quote-detail-info {
    display: none;
  }

  .quote-detail-right.active .quote-detail-info {
    display: block;
  }

  .quote-detail-inner {
    flex-direction: column;
  }

  .quote-detail-right.active .quote-header img {
    rotate: 180deg;
  }

  .quote-detail-left,
  .quote-detail-right {
    max-width: 100%;
    width: 100%;
  }

  .quote-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .quote-box-link {
    border-top: 1px solid var(--Light-Gray);
    margin-top: 0;
    padding-top: 40px;
  }

  .order-product-deatil {
    flex-direction: column;
  }

  .noresult-btnwrap {
    gap: 24px;
  }

  /* ------ */

  .product-sidebar.sidebar-map {
    display: none;
  }

  .container {
    padding: 0 16px;
  }

  .banner-images,
  .productlist-breadcrumbs,
  .product-sidebar,
  .productlist-sort-dropdown,
  .sidbartitle-desktop,
  .clear-all-desktop {
    display: none;
  }

  .banner-content {
    padding: 24px;
    margin: 0 auto;
    text-align: center;
  }

  .banner-section .primery-btn {
    width: 100%;
    max-width: 329px;
  }

  .banner-sell .primery-btn {
    background: var(--White);
    color: var(--Primary-Red);
  }

  .banner-sell .primery-btn:hover {
    color: var(--White);
    background: var(--Primary-Red);
  }

  /* old media query 768px */

  .logo {
    width: 118px;
  }

  .banner .inner {
    flex-wrap: wrap;
  }

  .banner .content {
    padding: 15px 15px 25px 15px;
    width: 100%;
    text-align: center;
  }

  .banner .sell .content {
    padding-top: 10px;
  }

  .product-wrapper {
    padding: 20px 0;
  }

  .product-wrapper.categories {
    padding: 20px 0px;
  }

  .product-wrapper h2 {
    margin-bottom: 0;
  }

  .product-item .product-img {
    margin-bottom: 4px;
  }

  .item-footer .price {
    font-size: 16px;
  }

  .banner .content p {
    margin: 7px 0 24px 0;
  }

  .product-item .save {
    padding: 0 3px;
    font-size: 11px;
    bottom: 5px;
    left: 5px;
  }

  .banner .deals {
    justify-content: center;
    margin-bottom: 30px;
  }

  .banner .deals,
  .banner .sell {
    width: 100%;
  }

  .banner h1,
  .banner .sell h2 {
    font-size: 24px;
  }

  .banner .img-wrap {
    display: none;
  }

  .banner .primary-btn {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 12px;
  }
  .banner .bg-white-btn {
    background: var(--White);
    color: var(--Primary-Red);
    border: 1px solid var(--Primary-Red);
  }
  .banner .bg-white-btn:hover {
    background: var(--Primary-Red);
    color: var(--White);
    border: 1px solid var(--Primary-Red);
  }
  header .right-side .icon-link {
    margin-left: 12px;
  }

  .product-wrapper h2,
  .testimonials h2,
  .blogs h2,
  .policy .wrap h3,
  footer h3 {
    font-size: 20px;
  }

  .rewards .img-wrap {
    display: none;
  }

  .category .img-wrap {
    margin: 0 auto 25px auto;
    padding: 0;
    width: 360px;
    height: 360px;
  }

  .category h3 {
    font-size: 14px;
    color: #474747;
    font-weight: 400;
    margin: 20px 0 0 0;
  }

  .product-item h3,
  .price {
    font-size: 16px;
  }

  .item-price {
    flex-wrap: wrap;
  }

  .item-price .old-price {
    width: 100%;
    margin: 5px 0 0 0;
  }

  .rewards .inner {
    padding: 22px;
  }

  .reward-title {
    display: flex;
    align-items: center;
    margin: 0 0 22px 0;
  }

  .rewardtitle-icon {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 15px;
  }

  .rewardtitle-icon img {
    width: 22px;
    height: 24px;
  }

  .rewards h2 {
    position: relative;
    font-size: 24px;
    margin: 0;
  }

  .rewards p {
    font-size: 16px;
    text-align: center;
  }

  .rewards a {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  .testimonial p,
  .blogs article p,
  .policy .wrap p {
    font-size: 14px;
  }

  .blogs .inner,
  .policies .inner {
    margin: 0;
    flex-wrap: wrap;
  }

  .blogs article,
  .policy {
    width: 100%;
    margin: 0 0 22px 0;
  }

  .blogs article h3 {
    font-size: 20px;
  }

  .blogs article a {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
  }

  .policy {
    flex-wrap: nowrap;
    padding: 15px 25px;
  }

  .policy .wrap {
    width: auto;
    margin-left: 15px;
  }

  .policy img {
    width: 30px;
    height: 30px;
  }

  footer .menu {
    width: 100%;
  }

  .footer h3 {
    margin: 0 0 30px 0;
  }

  footer .payments-loans {
    margin: 20px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #dee2ed;
  }

  .viewall-mobilelink {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #474747;
    text-transform: capitalize;
  }
  .blogs h2 {
    margin-bottom: 0;
  }
  .blogs .productwrap-title {
    margin-bottom: 40px;
  }
  .productwrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .policies {
    padding: 0 0 30px 0;
  }

  .blogs {
    padding-bottom: 20px;
  }

  .btn-wrap .quick-view {
    display: none;
  }

  .add-favorte {
    width: 24px;
  }

  .product-item .discount {
    font-size: 10px;
  }

  .productlist-top-right,
  .main-product-list {
    max-width: 100%;
  }

  .productlist-results {
    width: 100%;
    margin-bottom: 30px;
  }

  .productlist-top-right {
    justify-content: flex-start;
  }

  .product-list-top {
    margin-top: 30px;
  }

  .filter-sort-mobile {
    width: 138px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #dee2ed;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .filter-sort-mobile img {
    width: 18px;
    height: 12px;
    object-fit: contain;
    margin-right: 12px;
  }

  .filter-sort-mobile span {
    color: #474747;
    font-size: 14px;
    font-weight: 400;
  }

  .productlist-grid-opt {
    max-width: initial;
  }

  .productlist-grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .productlist-grid-view {
    gap: 20px;
    row-gap: 55px;
  }

  .product-sidebar {
    border: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: initial;
    height: 90%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 999;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .clearall-mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #666;
    max-width: 360px;
    margin: 0 0 30px 0;
  }

  .sidebartitle-mobile {
    display: flex;
    font-size: 20px;
    padding: 30px 20px 30px 0;
  }

  .sidebar-close-icon {
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .sortby-mobile-option,
  .sortby-mobile-option ul {
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
  }

  .productcheckbox-secondlevel > div {
    width: 100%;
  }

  .sidebar-title {
    flex-direction: column;
  }

  .productlist-grid-view.productlist-list-view .productlist-detail {
    max-width: initial;
  }

  .productlist-list-view .product-item .item-footer {
    display: none;
  }

  .listview-itemfooter-mobile {
    display: block;
  }

  .productlist-grid-view.productlist-list-view .product-img {
    max-width: 150px;
    height: 150px;
  }

  .productlist-grid-view.productlist-list-view .productlist-detail {
    max-width: calc(100% - 170px);
  }

  .productlist-list-view .prodcut-map {
    margin: 15px 0 5px 0;
  }

  .productlist-grid-view.productlist-list-view .product-item {
    border: 0;
  }

  .listview-itemfooter-mobile .item-price {
    align-items: center;
    justify-content: space-between;
  }

  .productlist-inner {
    margin: 0 0 30px 0;
  }

  .blog-article-box {
    width: 100%;
    margin-bottom: 45px;
  }

  .blog-article-btn {
    width: 100%;
    text-align: center;
  }

  .product-info-accordion {
    margin: 0;
  }

  .information-accordtion-title {
    margin: 0 0 25px 0;
    font-size: 20px;
  }

  .category .img-wrap {
    width: 200px;
    height: 200px;
  }

  header .search-bar input {
    padding-right: 6%;
  }

  .no-result-container h4 {
    font-size: 24px;
    margin: 25px 0 0 0;
  }

  .no-result-container span {
    font-size: 16px;
    margin: 18px 0 22px 0;
  }

  .red-border-btn {
    width: 100%;
  }

  .main-product-list .store-info-row {
    display: none;
  }

  .productlist-top-right .store-info-row {
    display: block;
    margin: 10px 0 0 0;
    position: relative;
    padding: 20px 0;
  }

  .store-info-row:before {
    content: "";
    background-color: #f8f9fb;
    border-top: 1px solid #dee2ed;
    border-bottom: 1px solid #dee2ed;
    position: absolute;
    left: -15px;
    top: 0;
    width: calc(100% + 30px);
    height: 82%;
  }

  .storeinfo-title {
    margin: 0;
  }

  .store-info-row .product-sidebar.sidebar-map {
    display: block;
  }

  .storeinfo-row-inner,
  .sidebar-map {
    position: relative;
    display: block;
  }

  .storeinfo-row-inner,
  .store-info-left {
    margin: 0 0 22px 0;
  }

  .sidebar-map {
    margin: 0 0 45px 0;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dee2ed;
    padding: 15px 22px 0;
  }

  .productlist-header h5 {
    font-size: 20px;
  }

  .sidebar-map .productlist-header h5 {
    font-size: 16px;
    margin: 0;
    padding: 0 0 15px 0;
  }

  .store-info-row.store-all-items-searched {
    padding: 0;
  }

  .store-info-row.store-all-items-searched:before,
  .multi-store-filters {
    display: none;
  }

  .store-info-row.store-all-items-searched .sidebar-map {
    margin: 0 0 25px 0;
  }

  .productlist-results.storeinfo-title .store-info-row,
  .productlist-results .multi-store-filters {
    display: block;
  }

  .multistore-title h6 {
    margin: 10px 0;
  }

  .multi-store-filters {
    margin: 0;
  }

  .newfeatured-row2 .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .newfeatured-title {
    padding: 0 0 30px 0;
    font-size: 32px;
  }
  .newfeatured-left .primary-btn,
  .newfeatured-col-detail .primary-btn {
    width: 100%;
    max-width: 320px;
    text-align: center;
  }
  .newfeatured-row .inner {
    margin: 0 16px;
  }
  .quote-detail-wrapper {
    padding-bottom: 30px;
  }
  .quote-box-link.mobile,
  .chat-widget.mobile {
    display: flex;
  }
  .inner.mobile-slider.popular-search-category .category .img-wrap {
    width: 150px;
    height: 150px;
  }

  .inner.mobile-slider.popular-search-category {
    padding: 0;
  }

  .main-faq {
    margin: 0 0 30px 0;
  }

  .faq-accordion h3 {
    font-size: 24px;
  }

  .faq-question h4 {
    max-width: 313px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 15px 0;
  }

  .faq-row,
  .faq-tab-items {
    overflow-x: scroll;
  }

  .faq-tab-items {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }
  .faq-tab-items.blog-tab-item {
    flex-wrap: wrap;
  }
  .faq-tab-items.blog-tab-item .tab {
    min-width: 100px;
    height: 50px;
  }

  .faq-tab-items .tab {
    min-width: 200px;
    text-align: center;
  }

  .quote-edit-wrapper {
    padding: 16px;
  }

  .quote-edit-form h6 {
    font-size: 32px;
  }

  .quotes-inner-row {
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  .tracking-timeline-desktop .tracking-info-box {
    display: none;
  }

  .tracking-timeline-mobile {
    width: 100%;
    margin-block: 10px 24px;
    display: block;
    border-bottom: 1px solid var(--Light-Gray);
  }

  .order-text-label {
    font-size: 12px;
  }

  .order-track-dot {
    height: 24px;
    width: 24px;
  }

  .completed .order-track-dot::after {
    height: 18px;
    width: 18px;
  }

  .tracking-info-date h3 {
    font-size: 24px;
  }

  .tracking-info-date span {
    font-size: 12px;
  }

  .tracking-info-date {
    gap: 8px;
    border-radius: 8px;
  }

  .shipping-note {
    margin-bottom: 24px;
    display: block;
  }

  .order-tracking-section {
    padding-block: 24px 40px;
  }

  .order-tracking-bar {
    display: none;
  }

  .order-track-line {
    height: 8px;
  }

  .tracking-info-row,
  .shipping-info-row {
    border: none;
    padding: 0;
  }

  .shipping-info-row {
    border-bottom: 1px solid var(--Light-Gray);
    border-radius: 0 !important;
  }

  .tracking-info-row {
    gap: 16px;
  }

  .tracking-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .tracking-mobile-content {
    display: none;
  }

  .tracking-mobile-content.active {
    display: block;
  }

  .tracking-head img {
    display: block;
    width: 24px;
  }

  .tracking-head h6 {
    color: var(--Black);
  }

  .order-tracking-heading {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .order-tracking-number {
    font-size: 16px;
  }

  .order-tracking-row {
    margin-bottom: 24px;
  }

  .shipping-order-content {
    display: none;
    padding-bottom: 16px;
  }

  .shipping-order-content.active {
    display: block;
  }

  .shipping-detail-track {
    margin-bottom: 24px;
  }

  .tracking-mobile-content {
    margin-bottom: 16px;
  }

  .product-detail-wrapper {
    flex-direction: column;
  }

  .karat-row-right,
  .earn-secondary-box .red-btn {
    width: 100%;
    max-width: 100%;
  }

  .status-card-box img {
    width: 48px;
    height: 48px;
  }

  .store-box {
    max-width: 100%;
  }

  .cart-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .checkout-accordion-mbl img {
    transition: all 0.4s ease;
  }

  .checkout-accordion-mbl.active img {
    rotate: 180deg;
  }

  .cart-item-box {
    padding-bottom: 30px;
  }

  .cart-container .cart-item-box {
    padding-bottom: 24px;
  }

  .checkout-box label {
    max-width: 85%;
  }

  .cart-top-tag.inherit h5 {
    font-size: 24px;
  }

  .checkout-radio-box {
    padding-right: 34px;
    margin-top: 0px;
  }

  .checkout-box:not(:last-child) {
    margin-bottom: 16px;
  }

  .checkout-right.inherit {
    padding: 24px 16px;
  }

  .checkout-left.inherit h2 {
    font-size: 24px;
  }

  .order-deatil-head {
    padding-inline: 0;
  }

  .error-message.inherit {
    text-align: center;
  }

  .checkout-right {
    padding-inline: 0px;
  }

  .checkout-wrapper {
    gap: 32px;
  }

  .cart-container .cart-item-wrapper:first-child {
    margin-bottom: 42px;
  }

  .checkout-account {
    flex-direction: column;
    gap: 24px;
  }

  .checkout-account button {
    max-width: 100%;
  }

  .error-cart {
    font-size: 12px;
    text-align: center;
  }

  .checkout-box {
    align-items: flex-start;
  }

  .fav-result-container {
    padding: 24px;
  }

  .fav-btnwrap .inherit {
    width: 100%;
    text-align: center;
  }

  .store-locator-tabs {
    max-width: 100%;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 24px;
  }

  .store-locator-section {
    padding-block: 24px 40px;
  }

  .acoount-link {
    display: none;
  }

  .store-right {
    padding: 0;
    height: 580px;
  }

  .loan-wrapper-inner .account-inner-left {
    max-width: 100%;
  }

  .product-detail-left,
  .product-detail-right {
    width: 100%;
  }

  .mobile-product-detail {
    display: block;
  }

  .product-detail-right {
    display: none;
  }
}

@media (max-width: 639px) {
  .karat-faq-right .karat-btn {
    flex-direction: column-reverse;
    gap: 22px;
    margin-bottom: 0;
  }

  .karat-rewards-section {
    padding-block: 24px 40px;
  }

  .red-btn {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .order-title-line {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .checkout-accordion-mbl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .removepopup.minicart-popup {
    max-width: 390px;
  }

  .extend-loan-form .tab-row {
    margin-bottom: 24px;
  }

  .order-info-flex {
    flex-direction: column;
    gap: 16px;
  }

  .order-detail-img img {
    width: 88px;
    height: 88px;
  }

  .order-detail-item {
    gap: 24px;
  }

  .order-info-left h6 {
    font-size: 16px;
    line-height: 1;
  }

  .order-title-line h3 {
    font-size: 20px;
  }

  .empty-result-field img {
    width: 35px;
    height: 35px;
  }

  .mobile-attach {
    display: none;
  }

  .drop-zone__prompt,
  .drop-zone__max {
    display: inline;
  }

  .drop-zone {
    flex-direction: row;
  }

  .quote-inner-img {
    width: 40px;
    height: 40px;
  }

  .quote-close {
    width: 10px;
    height: 10px;
  }

  .order-product-images {
    gap: 8px;
    align-items: center;
  }

  .order-product-images img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 4px;
  }

  .load-more-product {
    font-size: 14px;
    padding: 4px;
    width: 32px;
    height: 25px;
  }

  .order-wrapper .account-inner-right,
  .order-wrapper .account-inner-left {
    width: 100%;
    max-width: 100%;
  }

  .reward-wrapper-inner .account-inner-right {
    margin-left: 0;
  }

  .order-product-deatil .primary-btn.inherit {
    width: 100%;
    max-width: 100%;
  }

  .order-product-box {
    margin-bottom: 24px;
  }

  .mobile-button {
    margin-top: 16px;
  }

  .order-tracking-line.line-completed::before,
  .order-tracking-line.line-completed::after {
    height: 8px;
  }

  .order-track-dot.completed::after {
    width: 15px;
    height: 15px;
  }

  .category .img-wrap {
    width: 190px;
    height: 190px;
  }

  .product-item .product-img img {
    width: 70%;
    height: 62%;
  }

  /* .product-item {
    padding: 0 10px;
  } */
  .product-item {
    padding: 0 4px 0px 10px;
  }

  .testimonials .testimonial {
    margin: 0 5px;
    padding: 15px;
  }

  .testimonials .inner,
  .categories .inner .category {
    margin: 0;
  }

  .signin-modal,
  .resetpassword-modal,
  .register-modal {
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    border-radius: 0;
  }

  .form-group .form-row {
    width: 100%;
  }

  .search-matched-products ul {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 0 0 0;
  }

  .search-close {
    right: 70px;
  }

  .search-close:after {
    display: none;
  }

  /* ----- MY ACCOUNT ------- */
  .acooount-bar {
    padding-block: 24px 16px;
  }

  .recently-viewed-wrapper {
    padding: 0;
  }

  .save-btn {
    margin-left: 0px;
  }

  /* .acooount-bar {
    display: none;
  } */

  .contactus-wrapper {
    padding-block: 24px 40px;
  }

  .contact-success-img img {
    width: 100px;
    height: 100px;
  }

  .account-row h1 {
    font-size: 32px;
    line-height: 1;
  }

  .acoount-wrapper-inner {
    flex-direction: column;
    gap: 24px;
    padding-block: 32px 40px;
  }

  .account-inner-left {
    flex-direction: row;
    max-width: max-content;
    border: none;
    overflow: scroll;
    padding: 0;
    gap: 24px;
    border-radius: 0;
  }

  .tablinks {
    white-space: nowrap;
    font-size: 16px;
    line-height: 2;
  }

  .tablinks::after {
    bottom: 0px;
  }

  .info-box label,
  .require {
    margin-bottom: 10px;
  }

  .tabcontent form .info-box {
    padding-bottom: 0px;
  }

  .tab-addresses .info-box {
    padding-bottom: 9px !important;
  }

  .tab-addresses .info-box input {
    padding-bottom: 15px !important;
  }

  .account-form > * {
    margin-bottom: 20px;
  }

  #Orders {
    margin-top: 16px;
  }

  .tab-top-row {
    margin-bottom: 30px !important;
  }

  .notification-inner {
    gap: 8px;
    margin-bottom: 10px;
  }

  .notification-title {
    margin-bottom: 16px;
  }

  .notification-description {
    margin-bottom: 14px;
  }

  .light-gray-border {
    border-radius: 8px;
  }

  .tab-row {
    gap: 30px;
  }

  .contact-inner {
    padding-top: 16px;
  }

  .mobile-button {
    display: block;
    width: 100%;
  }

  .desktop-btn {
    display: none;
  }

  .order-tracking-popup {
    height: 100vh;
    max-width: 100% !important;
    border-radius: 0;
    width: 100%;
  }

  .order-tracking-popup .edit-changes {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 85%;
    right: 0;
    margin: auto;
  }

  .edit-changes {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 12px;
    gap: 16px;
  }

  .empty-result-container h4 {
    font-size: 24px;
  }

  input[type="search"]::placeholder {
    max-width: 100%; /* Ensures placeholder doesn't stretch */
    display: block;
  }
}

@media (max-width: 479px) {
  .rating img {
    width: 15px;
  }
  .product-detail-section {
    padding-block: 0px 30px;
  }

  .product-item h3 {
    margin-bottom: 10px;
    min-height: 95px;
  }

  .btn-wrap button {
    width: 24px;
    height: 24px;
  }

  .icon img {
    width: 100%;
    padding: 3px;
    height: 100%;
    object-fit: contain;
  }

  .header {
    padding-block: 16px;
  }

  .detail-fav-btn {
    width: 46px;
    top: 9px;
    right: 8px;
    height: 46px;
  }

  .detail-fav-btn img {
    width: 26px;
  }

  .product-detail-nav img {
    height: 70px;
    padding: 4px;
    width: 74%;
    border-radius: 8px;
  }

  .mobile-product-detail {
    margin-block: 10px 40px;
  }

  .product-detail-slider {
    margin-bottom: 10px;
  }

  .pay-inner {
    margin-bottom: 40px;
  }

  .product-deatil-slide-img {
    height: 360px;
    width: 100%;
    border-radius: 8px;
  }

  .img-resize .product-item .product-img img {
    width: 80%;
    height: 80%;
  }

  .category img {
    width: 100%;
    height: 100%;
  }

  .product-item .product-img {
    height: 150px;
    border-radius: 8px;
  }

  header .right-side {
    align-items: flex-start;
  }

  header .right-side .text-link,
  header .right-side .icon-link,
  .diamond-col {
    margin: 0 0 0 12px;
  }

  header .right-side .header-favorite-icon {
    margin: 0 0 0 10px;
  }

  .user-account .profile-icon,
  .diamond-col img {
    width: 20px;
    height: 20px;
  }

  .user-account {
    margin: 0;
  }

  .user-account .profile-icon:after {
    display: none;
  }

  .user-account .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: initial;
  }

  .account-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
  }

  .account-mobile h6 {
    color: #474747;
    font-size: 20px;
    font-weight: 800;
    font-family: Montserrat;
  }

  .user-account .dropdown-menu a {
    padding: 15px 40px;
  }

  header .right-side .icon-link img {
    width: 22px;
  }

  .diamond-col span {
    font-size: 16px;
  }

  .nav-icon {
    top: 155px;
  }

  .category .img-wrap {
    width: 112px;
    height: 112px;
    margin: 0;
  }

  .categories .inner .category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .categories .inner {
    margin: 0;
  }

  .form-group {
    gap: 0;
  }

  .success-toast span {
    font-size: 13px;
  }

  .footer-fix-bar ul {
    width: 600px;
  }

  .product-item .product-img img {
    width: 60%;
    height: 60%;
  }

  .newarrivals-imgresize .product-item .product-img img {
    width: 70%;
    height: 70%;
  }

  .inner.mobile-slider.popular-search-category .category .img-wrap {
    width: 112px;
    height: 112px;
  }

  .removepopup {
    max-width: calc(100% - 32px);
  }

  .removepopup h5 {
    font-size: 20px;
    max-width: 270px;
  }

  .popup-note,
  .guest-order-form {
    margin-bottom: 24px;
  }

  .quote-tag-line h4 {
    font-size: 24px;
  }
}

@media (max-width: 374px) {
  .order-flex-row {
    gap: 16px;
  }
  .quotes-info-left {
    margin: 0;
  }
  .order-info-left.quotes-info-left.img-align-left {
    gap: 8px;
  }
  .noresult-btnwrap {
    width: 100%;
  }

  .order-info-left.quotes-info-left.img-align-left {
    width: 100%;
  }

  .pickup-badge {
    width: fit-content;
    /* margin-left: auto; */
  }

  .product-item .product-img img {
    width: 70%;
    height: 70%;
  }

  header .right-side .text-link,
  header .right-side .icon-link,
  .diamond-col {
    margin: 0 0 0 6px;
  }

  .logo {
    width: 105px;
  }

  .productlist-grid-view {
    gap: 10px;
    row-gap: 55px;
  }

  .prodcut-map {
    width: 100%;
  }

  .prodcut-map span {
    font-size: 12px;
  }

  .clearall-mobile-btn {
    max-width: 300px;
  }

  .productlist-grid-view.productlist-list-view .product-img {
    max-width: 130px;
    height: 130px;
  }

  .productlist-grid-view.productlist-list-view .productlist-detail {
    max-width: calc(100% - 150px);
  }

  .category .img-wrap {
    width: 105px;
    height: 105px;
  }

  .testimonial h3 {
    font-size: 18px;
  }

  .img-resize .product-item .product-img img {
    width: 70%;
    height: 70%;
  }

  .inner.mobile-slider.popular-search-category .category .img-wrap {
    width: 98px;
    height: 98px;
  }
  .form-inner .checkbox-container label {
    margin: 0;
    font-size: 14px;
    gap: 3px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .checkbox-container input[type="checkbox"] {
    width: 12px;
    height: 12px;
    padding: 6px;
  }
  input[type="checkbox"]:checked::after {
    width: 4px;
    height: 8px;
  }

  .form-inner .forgot-password {
    font-size: 14px;
  }
}
